.nav_bar{
    width: 100%;
    border-bottom:1px solid blue;
    padding-bottom:10px;
    background-color: blue;

}
.nav_link{
   margin-left: 180px;
   padding: 20px;
   display: inline-block;
   color: red;
}
.nav_link:hover{
    color: black;
}
#search_bar{
    margin-left: 100px;
    width: 300px;
}